<style>
    .icon {
      border-radius: 3px;
      width: 50px;
      height: 50px;
    }

    .server {
      background-color: #03a9f4;
    }

    .client {
      background-color: #dea909;
    }

    .menu {
      background-color: #4caf50;
    }

    .server-client {
      background: linear-gradient(45deg, #dea909 53%, #03a9f4 53.001%);
    }

    .server-client-menu {
      background: linear-gradient(45deg, #4caf50 35.99%, #dea909 36%, #dea909 63%, #03a9f4 63.01%);
    }

    .client-menu {
      background: linear-gradient(45deg, #dea909 53%, #4caf50 53.001%);
    }

    .icon-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    .icon-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
</style>

<div class="icon-container">
    <div class="icon-section">
        <h2>Client<a class="anchor" href="#client"><i class="mdi mdi-link-variant"></i></a><a name="client" class="anchor_offset"></a></h2>
        <div class="icon client"></div>
    </div>
</div>
